<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burger Place</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Välkommen till Burger Place</h1>
      <section>
	<h2>Välj burgare!</h2>
	<p>Välj en burgare du är sugen på</p>
	<table width="800">
	  <thead>
	    <tr>
	      <th><h3>Mäktig Burgare</h3></th>
	      <th><h3>Sjaskig Burgare</h3></th>
	      <th><h3>Nyburgare</h3></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>
		<img src="https://external-preview.redd.it/XBxy_zicanPx_Ws7DsCM0bnB9YsUY3gtacJ57KObgI8.jpg?auto=webp&s=412fa5f9334773a6ead0b85dc4a82e2dfa01270a" alt="Span" title="big burger" width="200">
	      </td>
	      <td>
		<img src="https://s3-media0.fl.yelpcdn.com/bphoto/r3H7q9mu6hjiqPZTbq5cYA/o.jpg" alt="Span" title="gross burger" width="200">
	      </td>
	      <td>
		<img src="https://www.garantskafferiet.se/filer/02-vara-produkter/vegetariskt/7340083468773_c1l1.png?preset=product-page-image" alt="Span" title="vegan burger" width="200">
	      </td>
	    </tr>
	    <tr>
	      <td>
		<ul>
		  <li>100 000 kcal</li>
		  <li>Inte vegansk</li>
		  <li>Laktosfri</li>
		  <li>Mycket glutenberikat bröd</li>
		  <li>Mäktig</li>
		</ul>
	      </td>
	      <td>
		<ul>
		  <li>??? kcal</li>
		  <li>Rått råttkött</li>
		  <li>Glutenfri</li>
		  <li>Sjaskig</li>
		</ul>
	      </td>
	      <td>
		<ul>
		  <li>1000 kcal</li>
		  <li>Vegansk</li>
		  <li>Direktimporterat från Willys</li>
		  <li>Beställd av nyanställde Börje</li>
		</ul>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </section>
      <section>
	<h2>Kundinformation:</h2>
	<p>Fyll i dina uppgifter</p>
	<h3>Leveransinformation:</h3>
	<label for="name">Namn</label><br>
	<input type="text" id="name" name="n" required="required" placeholder="För- och efternamn"/>
	<br><br>
	<label for="email">E-post</label><br>
	<input type="text" id="email" name="em" required="required" placeholder="E-post adress"/>
	<br><br>
	<label for="street">Gata</label><br>
	<input type="text" id="street" name="g" required="required" placeholder="Gatunamn"/>
	<br><br>
	<label for="number">Nummer</label><br>
	<input type="number" id="number" name="nr" required="required" placeholder="Gatunummer"/>
      </section>
    </main>
    <footer>
      <hr>
      <br>
      Burger Place inc.<br>
      Burgargatan 711
    </footer>
  </body>
</html>
