<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burger Place</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Välkommen till Burger Place</h1>
      <section>
	<h2>Välj burgare!</h2>
	<p>Välj en burgare du är sugen på</p>
	<h3>Mäktig Burgare</h3>
	<img src="https://external-preview.redd.it/XBxy_zicanPx_Ws7DsCM0bnB9YsUY3gtacJ57KObgI8.jpg?auto=webp&s=412fa5f9334773a6ead0b85dc4a82e2dfa01270a" alt="Span" title="big burger" width="200">
      </section>
      <section>
	<h2>Kundinformation:</h2>
	<p>Fyll i dina uppgifter</p>
      </section>
    </main>
    <footer>
      <hr>
    </footer>
  </body>
</html>
