
@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 14pt;
}

.allergy {
    font-weight: bold; /* not optimal for font */
}

#burgers {
    background-color: black;
    color: white;
    border: 5px dashed white;
}

#customer {
    border: 5px dashed black
}

section {
    margin: 20px;
    padding: 10px 15px;
}

.img {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

button {
    margin: 30px 20px;
}

header {
    margin: 20px;
    height: 250px;
    overflow: hidden;
}

#burgerHead {
    opacity: 0.5;
    width: 100%;
    height: auto;
}

#heading {
    position: absolute;
    top: 20px;
    padding: 40px;
}

div {
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.1a {
    grid-column: 1;
    grid-row: 1;
}

.2a {
    grid-column: 2;
    grid-row: 1;
}

.3a {
    grid-column: 3;
    grid-row: 1;
}

.1b {
    grid-column: 1;
    grid-row: 2;
}

.2b {
    grid-column: 2;
    grid-row: 2;
}

.3b {
    grid-column: 3;
    grid-row: 2;
}

.1c {
    grid-column: 1;
    grid-row: 3;
}

.2c {
    grid-column: 2;
    grid-row: 3;
}

.3c {
    grid-column: 3;
    grid-row: 3;
}
