
@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 14pt;
}

.allergy {
    font-weight: bold; /* not optimal for font */
}

#burgers {
    background-color: black;
    color: white;
    border: 5px dashed white;
}

#customer {
    border: 5px dashed black
}

section {
    margin: 20px;
    padding: 10px 15px;
}

.img {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

button {
    margin: 30px 20px;
}

header {
    margin: 20px;
    height: 250px;
    overflow: hidden;
}

#burgerHead {
    opacity: 0.5;
    width: 100%;
    height: auto;
}

#heading {
    position: absolute;
    top: 20px;
    padding: 40px;
}

div {
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
}

.a {
    grid-column: 1;
}

.b {
    grid-column: 2;
}

.c {
    grid-column: 3;
}

.d {
    grid-column: 4;
}

.e {
    grid-column: 5;
}
