
@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 14pt;
}

.allergy {
    font-weight: bold; /* not optimal for font */
}

#burgers {
    background-color: black;
    color: white;
}

#customer {

}

.img {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

#table {
    width: 75%;
    margin: 0 auto;
}
